// news-card.component.scss

ion-card {
    margin: 10px;
  }
  
  ion-card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  ion-row {
    ion-col {
      padding: 10px;
    }
  
    .news-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .news-content {
      display: flex;
      flex-direction: column;
    }
  }
  
  // Pantallas grandes (>=992px)
  @media screen and (min-width: 992px) {
    ion-row {
      ion-col {
        width: 50%;
      }
    }
  }
  
  // Pantallas medianas (>=768px y <992px)
  @media screen and (min-width: 768px) and (max-width: 991px) {
    ion-row {
      ion-col {
        width: 50%;
      }
    }
  }
  
  // Pantallas pequeñas (<768px)
  @media screen and (max-width: 767px) {
    ion-row {
      ion-col {
        width: 100%;
      }
  
      .news-image {
        max-height: 200px;
        height: 100%;
      }
  
      .news-content {
        flex-grow: 1;
      }
    }
  }
  